<div class="moshaf-container">
  <p-toolbar styleClass="mb-4 header">
    <ng-template #center>
      <div class="page-input-container">
        <p-inputNumber
          [(ngModel)]="pageNumberInput"
          [min]="1"
          [max]="604"
          [showButtons]="true"
          buttonLayout="horizontal"
          inputId="page-number"
          spinnerMode="horizontal"
          [step]="1"
          decrementButtonClass="p-button-secondary"
          incrementButtonClass="p-button-secondary"
          (onKeyDown)="goToPage()"
          styleClass="w-full"
        />
        <p-button
          label="اذهب"
          icon="pi pi-search"
          (onClick)="goToPage()"
          severity="success"
        />
      </div>
    </ng-template>

  </p-toolbar>

  @if (isLoading()) {
    <div class="loading">جاري التحميل...</div>
  } @else {
    <p-card styleClass="ayahs-container">
    <div
      class="flex justify-between items-center px-4 py-2 bg-gray-100 rounded-lg mb-4 fixed bottom-5 left-1/2 -translate-x-1/2 z-[100] shadow-lg w-[95%] md:min-w-[400px] md:w-auto flex-wrap gap-1">
     
      <!-- السابقة -->
      <button (click)="previousPage()" [disabled]="pageNumber() === 1 || isLoading()"
        class="flex items-center justify-center gap-2 px-3 py-2 bg-white border rounded-md shadow-sm hover:bg-gray-200 disabled:opacity-50 md:w-auto">
      <img src="arrow-sm-left-svgrepo-com.svg" alt="Reveal Previous Page" class="w-6 h-6" />  
    
    
    
      </button>
    
    
      <!-- التالية -->
      <button (click)="nextPage()" [disabled]="isLoading()"
        class="flex items-center justify-center gap-2 px-3 py-2 bg-white border rounded-md shadow-sm hover:bg-gray-200 disabled:opacity-50 md:w-auto">
    
    
        <img src="arrow-sm-right-svgrepo-com.svg" alt="Reveal Next Page" class="w-6 h-6" />  

    
      </button>
      <!-- آية سابقة -->
      <button (click)="revealPreviousAyah()"
        class="flex items-center justify-center gap-2 px-3 py-2 bg-white border rounded-md shadow-sm hover:bg-gray-200 md:w-auto">
       
    
    <img src="eye-slash-svgrepo-com.svg" alt="" class="w-6 h-6" />  

      </button>
    
      <!-- آية تالية -->
      <button (click)="revealNextAyah()"
        class="flex items-center justify-center gap-2 px-3 py-2 bg-white border rounded-md shadow-sm hover:bg-gray-200 md:w-auto">
        <img src="eye-svgrepo-com.svg" alt="" class="w-6 h-6" />  
 </button>
    </div>

      <div class="page-content">
        @for (ayah of ayahs(); track ayah.number; let i = $index; let isFirst = $first) {
          @if (isFirst) {
            <div class="surah-header">
              <span class="surah-name">{{ ayah.surah.name }}</span>
            </div>
          }
          @if (!isFirst && ayah.surah.number !== ayahs()[i - 1].surah.number) {
            <div class="surah-header">
              <span class="surah-name">{{ ayah.surah.name }}</span>
            </div>
          }

          @if (displayMode() === 'ayah') {
            <span class="ayah-text" [class.hidden]="!isAyahRevealed(i)">
              {{ ayah.text }}<span class="ayah-number">{{ ayah.numberInSurah }}</span>
            </span>
          } @else {
            <span class="ayah-text">
              @for (word of ayah.words; track word.position; let wIndex = $index) {
                @if (i < currentAyahIndex() || (i === currentAyahIndex() && wIndex <= currentWordIndex())) {
                  <span class="word-text revealed">{{ word.text }}</span>
                } @else {
                  <span class="word-text hidden">{{ word.text }}</span>
                }
              }
              <span class="ayah-number">{{ ayah.numberInSurah }}</span>
            </span>
          }
        }
      </div>
    </p-card>
  }
</div>
