<div class="moshaf-container">
  <p-toolbar styleClass="mb-4 header">
    <ng-template #center>
      <div class="page-input-container">
        <p-inputNumber
          [(ngModel)]="pageNumberInput"
          [min]="1"
          [max]="604"
          [showButtons]="true"
          buttonLayout="horizontal"
          inputId="page-number"
          spinnerMode="horizontal"
          [step]="1"
          decrementButtonClass="p-button-secondary"
          incrementButtonClass="p-button-secondary"
          (onKeyDown)="goToPage()"
          styleClass="w-full"
        />
        <p-button
          label="اذهب"
          icon="pi pi-search"
          (onClick)="goToPage()"
          severity="success"
        />
      </div>
    </ng-template>

  </p-toolbar>

  @if (isLoading()) {
    <div class="loading">جاري التحميل...</div>
  } @else {
    <p-card styleClass="ayahs-container">
    <div
      class="flex justify-between items-center px-4 py-2 bg-gray-100 rounded-lg mb-4 fixed bottom-5 left-1/2 -translate-x-1/2 z-[100] shadow-lg w-[95%] md:min-w-[400px] md:w-auto flex-wrap gap-1">
       <!-- التالية -->
      <button (click)="nextPage()" [disabled]="isLoading()"
        class="flex items-center justify-center gap-2 px-3 py-2 bg-white border rounded-md shadow-sm hover:bg-gray-200 disabled:opacity-50 md:w-auto">
    
    
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="m11.25 9-3 3m0 0 3 3m-3-3h7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
        </svg>
    
    
      </button>
      <!-- السابقة -->
      <button (click)="previousPage()" [disabled]="pageNumber() === 1 || isLoading()"
        class="flex items-center justify-center gap-2 px-3 py-2 bg-white border rounded-md shadow-sm hover:bg-gray-200 disabled:opacity-50 md:w-auto">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="m12.75 15 3-3m0 0-3-3m3 3h-7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
        </svg>
    
    
    
      </button>
    
    
    
      <!-- آية سابقة -->
      <button (click)="revealPreviousAyah()"
        class="flex items-center justify-center gap-2 px-3 py-2 bg-white border rounded-md shadow-sm hover:bg-gray-200 md:w-auto">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M3.98 8.223A10.477 10.477 0 0 0 1.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.451 10.451 0 0 1 12 4.5c4.756 0 8.773 3.162 10.065 7.498a10.522 10.522 0 0 1-4.293 5.774M6.228 6.228 3 3m3.228 3.228 3.65 3.65m7.894 7.894L21 21m-3.228-3.228-3.65-3.65m0 0a3 3 0 1 0-4.243-4.243m4.242 4.242L9.88 9.88" />
        </svg>
    
    
      </button>
    
      <!-- آية تالية -->
      <button (click)="revealNextAyah()"
        class="flex items-center justify-center gap-2 px-3 py-2 bg-white border rounded-md shadow-sm hover:bg-gray-200 md:w-auto">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
          <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
        </svg>
    
    
    
      </button>
    </div>

      <div class="page-content">
        @for (ayah of ayahs(); track ayah.number; let i = $index; let isFirst = $first) {
          @if (isFirst) {
            <div class="surah-header">
              <span class="surah-name">{{ ayah.surah.name }}</span>
            </div>
          }
          @if (!isFirst && ayah.surah.number !== ayahs()[i - 1].surah.number) {
            <div class="surah-header">
              <span class="surah-name">{{ ayah.surah.name }}</span>
            </div>
          }

          @if (displayMode() === 'ayah') {
            <span class="ayah-text" [class.hidden]="!isAyahRevealed(i)">
              {{ ayah.text }}<span class="ayah-number">{{ ayah.numberInSurah }}</span>
            </span>
          } @else {
            <span class="ayah-text">
              @for (word of ayah.words; track word.position; let wIndex = $index) {
                @if (i < currentAyahIndex() || (i === currentAyahIndex() && wIndex <= currentWordIndex())) {
                  <span class="word-text revealed">{{ word.text }}</span>
                } @else {
                  <span class="word-text hidden">{{ word.text }}</span>
                }
              }
              <span class="ayah-number">{{ ayah.numberInSurah }}</span>
            </span>
          }
        }
      </div>
    </p-card>
  }
</div>
